* {
  box-sizing: border-box;
}

html,
body {
  padding: 0px;
  margin: 0px;
}

h1,
h2,
p {
  padding: 0px;
  margin: 0px;
}

h1 a {
  color: currentColor;
  text-decoration: none;
}

header {
  font-weight: bold;
  padding: 10px;
  width: 100%;
  background: #fd34a1;
  color: white;
  font-family: monospace;
  display: flex;
  justify-content: space-around;
  
}

header h1 {
  font-family: "Josefin Slab";
  margin: 0;
  font-size: 20px;
}

header h1 a {
  font-family: "Josefin Slab";
  font-style: normal;
}

header a {
  font-family: "Work Sans";
  font-size: 20px;
  color: white;
  text-decoration: none;
  font-style: italic;
  font-weight: normal;
}

footer {
    border-top: 10px solid #fd34a1;
    font-family: "Work Sans";
    padding: 60px;
    background: #fefefe;
    font-size: 22px;
}

footer p {
  max-width: 800px;
  margin: auto;
}

.details {
  padding: 50px 20px;
  background: #eee;
  max-width: none;
  margin-bottom: 50px;
}

article {
  font-family: "Work Sans";
  padding-bottom: 50px;
}

.intro {
  margin: auto;
  max-width: 800px;
  font-size: 20px;
  line-height: 1.7rem;
  opacity: 0.9;
  font-style: italic;
}

.content,
.details-wrapper {
  margin: auto;
  max-width: 600px;
  margin: 1.2rem auto;
  position: relative;
}

.details-wrapper p {
  font-style: italic;
  font-size: 20px;
  opacity: 0.9;
}

.details-wrapper span {
  opacity: 0.8;
}

.content p {
  font-size: 19px;
  line-height: 1.7rem;
  margin-bottom: 1.15rem;
}

.images {
  width: 80%;
  margin: auto;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.images img {
  width: 33%;
  margin: 10px;
}

.has-border img {
  border: 1px solid #ddd;
}

code {
  background: #f9f9f9;
  padding: 5px;
  border-radius: 3px;
}

.content:before {
  position: absolute;
  top: 0;
  left: -75px;
  background: hotpink;
  width: 19px;
  height: 100%;
  content: "... the useless sites of the useless web - the useless sites of the useless web - the useless sites of the useless web - the useless sites of the useless web - the useless sites of the useless web - the useless sites of the useless web - the useless sites of the useless web - the useless sites of the useless web - the useless sites of the useless web";
  writing-mode: vertical-rl;
  color: rgba(255, 255, 255, 0.3);
  padding-top: 10px;
  font-size: 10px;
  white-space: nowrap;
  overflow: hidden;
  line-height: 18px;
  vertical-align: top;
  text-indent: -3px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-overflow: ellipsis;
}

article a,
footer a {
  color: #fd34a1;
  text-decoration: none;
}

article a h1 {
  margin-bottom: 40px;
  font-size: 150px;
  line-height: 7.7rem;
  color: #333;
  margin-left: -10px;
}

article h1 {
  margin-bottom: 20px;
}

article strong {
  font-size: 20px;
}

article em {
  color: #888;
}
