* {
  box-sizing: border-box;
}

html,
body {
  padding: 0px;
  margin: 0px;
}

h1,
h2,
p {
  padding: 0px;
  margin: 0px;
}

h1 a {
  color: currentColor;
  text-decoration: none;
}

header {
  width: 100%;
  font-weight: bold;
  padding: 120px 10px;
  padding-bottom: 60px;
  font-family: "Pacifico", cursive;
  text-align: center;
  background: #fed96a;
}

header h1 {
  font-size: 70px;
  margin-bottom: 40px;
}

h1 span {
  text-decoration: underline;
}

header h2 {
  font-family: "Open Sans", sans-serif;
  max-width: 500px;
  font-size: 20px;
  margin: auto;
  font-weight: bold;
  font-style: italic;
  letter-spacing: 0.5px;
  padding-bottom: 30px;
}

.links {
  color: #333;
  font-size: 20px;
}

.links span {
  padding: 0 15px;
}

.links a {
  color: inherit;
  letter-spacing: 0.6px;
}

.wrapper {
  font-family: "Open Sans", sans-serif;
}

article {
  position: relative;
  background: #fff;
  padding: 20px 50px;
  margin: auto;
  padding-left: 20px;
  padding-right: 50px;
  transform: translateZ(0);
  min-height: 400px;
}

article:nth-of-type(even) {
  background: #f9f9f9;
}

article:nth-of-type(even) .inner-wrapper {
  flex-direction: row-reverse;
}

article:nth-of-type(even) .content {
  margin-left: 10px;
  margin-right: 50px;
}

footer {
  padding: 50px;
}

footer:nth-child(even) {
  background: #f9f9f9;
}

footer:nth-child(3) {
  background: #f9f9f9;
}

footer .contents {
  max-width: 750px;
  margin: auto;
  font-size: 20px;
  text-align: center;
}

footer .contents div {
  margin-bottom: 15px;
}

.smaller {
  font-size: 12px;
  color: #444;
}

.inner-wrapper {
  display: flex;
  justify-content: center;
}

.content {
  margin-left: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content,
.inner-book {
  width: 350px;
}

.book {
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateZ(0);
}

.inner-book {
  display: flex;
  align-items: center;
  transform-style: preserve-3d;
  perspective: 2000px;
}

.content {
  margin-left: 70px;
}

article a {
  text-decoration: none;
}

article a h1 {
  margin-bottom: 20px;
  font-family: "Pacifico", cursive;
  font-size: 30px;
  line-height: 2.7rem;
  color: #333;
}

article h1 {
  margin-bottom: 20px;
}

article p {
  font-size: 14px;
  margin-bottom: 1rem;
}

article em {
  font-size: 12px;
  letter-spacing: 0.4px;
  color: #888;
}

.inner-book {
  display: flex;
  align-items: center;
  transform-style: preserve-3d;
  perspective: 2000px;
}

.inner-book:before {
  content: "";
  width: 100%;
  position: absolute;
  height: 0;
  bottom: 14px;
  transform: rotateY(-20deg) translateZ(-20px);
  z-index: 0;
  box-shadow: 10px 12px 20px 13px rgba(0, 0, 0, 0.3);
}

.inner-book .img {
  transform: rotateY(-20deg);
  width: 100%;
  z-index: 5;
  clear: both;
  height: 100%;
  background: #ddd;
}

.inner-book img {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
}

.inner-book .img:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  border-left: 4px solid rgba(0, 0, 0, 0.3);
  z-index: 2;
}

.page {
  width: calc(100% - 20px);
  height: calc(100% - 2px);
  position: absolute;
  box-shadow: inset 0px -1px 2px rgba(50, 50, 50, 0.2),
    inset -1px 0px 1px rgba(150, 150, 150, 0.1);
  border-radius: 0px 3px 3px 0px;
  transform: rotateY(-20deg) translateZ(-5px);
  right: -3px;
  z-index: 4;
  background: white;
}

.page-2 {
  height: calc(100% - 4px);
  right: -6px;
  z-index: 3;
}

.page-3 {
  height: calc(100% - 6px);
  right: -9px;
  z-index: 2;
}

.page-4 {
  height: calc(100% - 8px);
  right: -12px;
  z-index: 1;
}

.page-5 {
  height: calc(100% - 10px);
  right: -15px;
  z-index: 0;
}

.img.final-page {
  position: absolute;
  z-index: -1;
  right: -17px;
  transform: rotateY(-19deg) translateZ(-10px) scale(0.984);
}

.button {
  padding: 15px 20px;
  font-size: 13px;
  letter-spacing: 0.3px;
  background-color: #ffc800;
  font-weight: bolder;
  text-decoration: none;
  color: black;
  margin-top: 10px;
  display: flex;
  text-align: left;
  border: 1px solid #333;
  width: fit-content;
  transition: background-color 150ms;
}

.button:hover {
  background-color: #ffcc00;
}

.button .logo {
  display: inline-block;
  background: url(/assets/icons/amz-logo.svg);
  width: 20px;
  margin-left: 10px;
  background-repeat: no-repeat;
  background-position: center center;
}

canvas {
  width: 100%;
  vertical-align: top;
}

@media only screen and (max-width: 800px) {
  header {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 10px;
  }

  header h1 {
    font-size: 50px;
  }

  header h2 {
    font-size: 18px;
  }

  article {
    padding-right: 20px;
  }

  .inner-wrapper {
    flex-direction: column !important;
    align-items: center;
  }

  .book {
    width: calc(100% - 50px);
    margin-bottom: 50px;
    padding-right: 25px;
  }

  .inner-book {
    width: 100%;
  }

  .content {
    margin-left: auto !important;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }

  .links {
    font-size: 15px;
  }
}

@media only screen and (max-width: 500px) {
  header {
    padding-left: 20px;
    padding-right: 20px;
  }

  header h1 {
    font-size: 40px;
  }

  header h2 {
    font-size: 16px;
  }

  .content {
    padding-left: 0px;
    padding-right: 0px;
  }
}
