* {
  box-sizing: border-box;
}

html,
body {
  padding: 0px;
  margin: 0px;
}

h1,
h2,
p {
  padding: 0px;
  margin: 0px;
}

h1 a {
  color: currentColor;
  text-decoration: none;
}

header {
  font-weight: bold;
  padding: 10px;
  width: 100%;
  background: #fd34a1;
  color: white;
  font-family: monospace;
  font-family: "Josefin Slab";
}

header h1 {
  margin: 0;
  font-size: 20px;
}

.details {
  margin-top: 70px;
  padding: 20px;
  background: #eee;
  max-width: none;
}


.wrapper {
  /*font-family: "Open Sans", sans-serif;*/
}

article {
  font-family: "Work Sans";
}

.content > *, .details-wrapper {
  margin: auto;
  max-width: 600px;
  margin: 1.2rem auto;
}

article a {
  text-decoration: none;
}

article a h1 {
  margin-bottom: 20px;
  font-size: 150px;
  line-height: 7.7rem;
  color: #333;
  margin-left: -10px;
}

article h1 {
  margin-bottom: 20px;
}

article strong {
  font-size: 20px;
}

article p {
  font-size: 18px;
  line-height: 1.65rem;
  margin-bottom: 1.1rem;
}

article em {
  font-size: 12px;
  letter-spacing: 0.4px;
  color: #888;
}
