<!doctype html>
<html>
  <head>
    {{ partial "head.html" . }}
    <title>The Useless Web Sites</title>
    <meta property="og:title" content="The Sites of The Useless Web">
    <meta property="og:description" content="Are you a fan of The Useless Web, well here's how they all happened!">
    <meta name="twitter:title" content="The Sites of The Useless Web">
    <meta name="twitter:description" content="Are you a fan of The Useless Web, well here's how they all happened!">
    <meta name="description" content="Find out all about the Useless websites on The Useless Web." />
  </head>
  <body>
    {{ partial "header.html" . }}
      <div class="wrapper">
        {{ $pages := .Pages }}
          {{ if .IsHome }}
            {{ $pages = .Site.RegularPages }}
          {{ end }}
          {{ $paginator := .Paginate $pages }}
          {{ if gt $paginator.TotalPages 0 }}
          {{ range $index, $page := $paginator.Pages }}

            {{ partial "article.html" (dict "context" . "index" $index) }}

          {{ end }}
          {{ partial "pagination.html" . }}
        {{ end }}
        {{ partial "footer.html" . }}
    </div>
  </body>
</html>
