<!doctype html>
<html>
	<head>
  	{{ partial "head.html" . }}
    <title> {{ .Page.Title }} | {{ $.Site.Title }}</title>
    <meta property="og:title" content="{{ $.Page.Title }} | The Useless Web">
    <meta property="og:description" content="Are you a fan of The Useless Web, well here's how it happened!">
    <meta name="twitter:title" content="{{ $.Page.Title }} | The Useless Web">
    <meta name="twitter:description" content="Are you a fan of The Useless Web, well here's how it happened!">
  </head>
  <body >
    {{ partial "header.html" . }}
    <div class="wrapper">
      {{ partial "article.html" (dict "context" . "index" 1) }}
      {{ partial "footer.html" . }}
    </div>
  </body>
</html>
