<!doctype html>
<html>
	<head>
  	{{ partial "head.html" . }}
    <title> {{ .Page.Title }} | {{ $.Site.Title }}</title>
    <meta property="og:title" content="{{ $.Page.Title }} on The Useless Web">
    <meta property="og:description" content="The full story of how {{ .Page.Title }} was crated on The Useless Web.">
    <meta name="twitter:title" content="{{ $.Page.Title }} on The Useless Web">
    <meta name="twitter:description" content="The full story of how {{ .Page.Title }} was crated on The Useless Web.">
    <meta name="description" content="The full story of how {{ .Page.Title }} was crated on The Useless Web." />
  </head>
  <body >
    {{ partial "header.html" . }}
    <div class="wrapper">
      {{ partial "article.html" (dict "context" . "index" 1) }}
      {{ partial "footer.html" . }}
    </div>
  </body>
</html>
