<article>
  <div class="inner-wrapper">
    <div class="site">
      {{ $ratio := lang.NumFmt 2 (div .context.Page.Params.height .context.Page.Params.width) }}
      <div class="img" style="padding-top: calc({{$ratio}} * 100%)">
        {{ if lt .index 2 }}
          <img src="/archive/assets/{{ .context.Page.Params.image }}" />
        {{ else }}
          <noscript class="img-asset">
            <img src="/archive/assets/{{ .context.Page.Params.image }}" />
          </noscript>
        {{ end }}
      </div>
    </div>
    <div class="content">
      <a href="{{ .context.Page.RelPermalink }}" class="title"><h1>{{ .context.Page.Params.title }}</h1></a>
      {{ .context.Page.Content }}
    </div>
  </div>
</article>
<canvas></canvas>
