<footer>
  <div class="contents">
    <p>Hi, I'm <a href="http://tholman.com">Tim Holman</a>. I built <a href="/">the useless web</a> in 2012, while locked up inside during a hurricane. For years now, its served as a hub for all things quirky and weird on the internet. </p><br>
    <p>
      Now, years later, I'm emailing around and trying to track down the stories of these sites, really to show that the creators of all these weird and wonderful websites come from all walks of life, with ideas and ambitions, and that everyone can create!
    </p><br>
    <p>
     If you've got a site on the useless web and I haven't reached out, feel free to give me a bell, otherwise, I'll be getting to you as soon as I can track you down.
    </p>
  </div>
</footer>
