<meta charset="utf-8" />
<link rel="alternate" type="application/rss+xml" title="{{ $.Site.Title }}" />
<link rel="mask-icon" href="safari-tab-icon.svg" color="#000000" />
<meta
	name="description"
	content="A well curated collection of the weird wide world of books title and covers."
/>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link href="https://fonts.googleapis.com/css?family=Open+Sans|Pacifico&display=swap" rel="stylesheet">
<link href="/archive/css/styles.css" rel="stylesheet" />

<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/assets/favicon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">

<meta property="og:image" content="https://alwaysjudgeabookbyitscover.com/assets/icons/share.jpg">
<meta property="og:url" content="https://alwaysjudgeabookbyitscover.com">
<meta name="twitter:image" content="https://alwaysjudgeabookbyitscover.com/assets/icons/share.jpg">
<meta name="twitter:card" content="summary_large_image">

{{ range .AlternativeOutputFormats -}}
  {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}