<meta charset="utf-8" />

{{ range .AlternativeOutputFormats -}}
  {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}

 <meta
  name="description"
  content="An Archive and Q/A about the sites listed on the useless web."
/>

<meta name="viewport" content="width=device-width, initial-scale=1" />

<link
  href="https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@600&family=Work+Sans&display=swap"
  rel="stylesheet"
/>

<link href="/sites/css/styles.css" rel="stylesheet" />

<!-- TODO -->
<!-- <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/assets/favicon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">

<meta property="og:image" content="https://alwaysjudgeabookbyitscover.com/assets/icons/share.jpg">
<meta property="og:url" content="https://alwaysjudgeabookbyitscover.com">
<meta name="twitter:image" content="https://alwaysjudgeabookbyitscover.com/assets/icons/share.jpg">
<meta name="twitter:card" content="summary_large_image"> -->
